.mixin.out/
backups/
betweenlands_gallery/
crash-reports/
downloads/
local/
logs/
mods/
journeymap/
patchouli_books/
saves/
screenshots/
snapshots-server/
.curseclient
.ReAuth.cfg
crafttweaker.log
patchouli_data.json